@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <h1>Cannot delete</h1>
    <p>Deleting category with articles not possible.</p>
    <a asp-controller="Categories" asp-action="Index">Go back</a>
       }
